html,body {
  font-family: Arial, Helvetica, sans-serif;
  color: #384241;
  margin: 0;
  height: 100%;
}


/* ---------------------------------------- Home Page Bacground and banner */
.banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    color: #78795b;
	font-family: 'Arial';
	
	
}

.banner:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
}

.banner:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    -moz-transform: translateZ(0) scale(1.0, 1.0);
    -ms-transform: translateZ(0) scale(1.0, 1.0);
    -o-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0) scale(1.0, 1.0);
    background-image: url('./images/blackrose.jpg');
    -webkit-background-size:cover;
    background-size: cover;
    background-attachment: fixed;
    animation: increase 60s linear 10ms infinite;
    -webkit-transition: all 0.2s  ease-in-out;
    -ms-transition: all 0.2s  ease-in-out;
    -o-transition: all 0.2s  ease-in-out;
    transition: all 0.2s  ease-in-out;
    z-index: -2;
}

.banner-text {
    width: 100%;
    padding: 25% 10% 25% 10%;
    text-align: right;

}

.banner-text h2 {
    position: absolute;
    right: 5%;
    top: 60%;
    font-size: 30px;
    letter-spacing: 1px;
    background-color: #384241;
    padding: 5px;

}

a {
    color: #78795b;
}

.banner-text a:hover,
.banner-text a:active {
    font-size: 110%;
    color: rgba(151, 155, 177, 0.678);
}
    



@keyframes increase {
    0%{transform: scale(1)}
    100%{transform: scale(1.5)}

}

/* ---------------------------------------- Menu on Homepage */

.nav {
    background: none;
    border: none;
    font-weight: 300;
    letter-spacing: .1rem;
    ;
        
}

.nav-link {
    padding: 20px 25px 15px 25px;
    color: #78795b;
}


.nav-link:hover,
.nav-link:active { 
    color: #362e08 !important;

}


.dropdown-menu {
    background-color: #78795b;
}


/* ---------------------------------------- Footer  */


.flex-container {
  display: flex;
  justify-content: center;
}

.footer {
    background-image: url('./images/black.jpg');
    border-color: transparent;
    text-align: center;
    margin: 0;
    padding: 0px 0px 1px 0px;
    color: #919796;
 }

.footer2 {
    background-color: white;
    
    text-align: center;
    margin: 0;
    padding: 0px 0px 1px 0px;
    color: #919796;
 }
.connect {
	text-align: center;
    margin-bottom: 1px;
}

.connect li {
	display: inline;
}

.connect i {
	font-size: 150%;
	margin: 1%;
	padding: 1%;
	color: #78795b;
    border-radius: 50%;
}

.connect i:hover,
.connect i:active {
    font-size: 200%;
    color: #919796;
}


/* ---------------------------------------- Recipe pages  */
body.recipe {
    background-image: url('./images/water.jpg');
}

.food {
    background: url("./images/sunkissed-chicken.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* ---------------------------------------- Contact Form  */

.connectForm {
    display: inline-block;
    position: inherit;
}